<div class="container">
  <div class="row">
    <div class="col-md-6" >
      <div class="row">
        <div class="col-md-5">users</div>
        <div class="col-md-7" style="padding-bottom: 10px">
          <div class="col-md-12">filter</div>
          <div
            class="col-md-12 abc"
            style="background-color: #72c6ce; border-radius: 20px; color: white"
          >
            <a class="active" (click)="getSubscribeUser()">subscribe</a>
            <img
              src="../../assets/star.svg"
              alt=""
              width="10px"
              style="margin-left: 8px"
            />
            <a class="active" (click)="getUnsubscribeUser()">unsubscribe</a>
            <img
              src="../../assets/star.svg"
              alt=""
              width="10px"
              style="margin-left: 8px"
            />
            <a class="active" (click)="getFreeUser()">free</a>
          </div>
        </div>
        <hr />
        <div
          class="col-md-12 "
          [ngClass]="{'background': userEditMode}"
          style="background-color: #85d6dd; padding: 15px; border-radius: 20px"
        >
          <div class="row justify-content-center">
            <div class="col-md-7"></div>
            <div class="col-md-5">
              <input
                [(ngModel)]="searchData"
                (ngModelChange)="search()"
                type="search"
                name=""
                placeholder="Search"
                style="
                  padding-left: 10px;
                  background-color: #394e78;
                  width: 100%;
                  border: none;
                  border-radius: 20px;
                "
              />
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-8" *ngIf="userEditMode">
              <div class="hover_bkgr_fricc">
                <span class="helper"></span>
                <div>
                  <div
                    class="popupCloseButton"
                    (click)="this.userEditMode = false"
                  >
                    &times;
                  </div>
                  <div class="row" style="padding: 10%; margin: 0px">
                    <div
                      class="col-md-12"
                      style="font-size: 35px; font-weight: bold"
                    >
                      Edit User
                    </div>
                    <form
                      (ngSubmit)="onSubmitEditedUser()"
                      #UserEditForm="ngForm"
                      style="width: 100%"
                    >
                      <div class="col-md-12" style="font-size: 20px">name</div>
                      <div class="col-md-12">
                        <input
                          type="text"
                          name=""
                          class="edituserinput"
                          ngModel
                          #name="ngModel"
                          name="name"
                        />
                      </div>

                      <div class="col-md-12" style="font-size: 20px">email</div>
                      <div class="col-md-12">
                        <input
                          type="text"
                          name=""
                          id=""
                          class="edituserinput"
                          ngModel
                          #email="ngModel"
                          name="email"
                        />
                      </div>
                      <div class="col-md-12" style="font-size: 20px">
                        account type
                      </div>
                      <div class="col-md-12">
                        <select type="text" name="usertype" id="" class="edituserinput" ngModel #usertype="ngModel"> 
                          <option value="subscribe">subscribe</option>
                          <option value="unsubscribe">unsubscribe</option>
                          <option value="free">free</option>
                        </select>
                      </div>
                      <br />
                      <div class="col-md-12">
                        <input
                          type="submit"
                          name=""
                          id=""
                          value="Submit"
                          style="
                            background-color: #394e78;
                            border: none;
                            border-radius: 20px;
                            padding-left: 20px;
                            padding-right: 20px;
                            color: #ffffff;
                            font-size: large;
                          "
                        />
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-12 table-div"  >
              <table style="width: 100%; color: black">
                <tr>
                  <th>USERNAME</th>
                  <th>EMAIL</th>
                  <th>ACCOUNT TYPE</th>
                  <th>RENEW DATE</th>
                  <th></th>
                </tr>
                <tr *ngFor="let item of userList; let i = index">
                  <td>{{ item.username }}</td>
                  <td>{{ item.email }}</td>
                  <td>{{ item.account_type }}</td>
                  <td>-</td>
                  <td>
                    <a (click)="showDialog(i)">
                      <img
                        src="./../../assets/fountain-pen-black.svg"
                        alt=""
                        width="20px"
                      />
                    </a>
                  </td>
                </tr>
              </table>
            </div>
            <div class="col-md-12">
              <hr />
              <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  <li
                    class="page-item"
                    [ngClass]="{ disabled: currentPage == 1 }"
                  >
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                  </li>
                  <li
                    class="page-item"
                    [ngClass]="{ active: i + 1 == currentPage }"
                    *ngFor="let item of numSequence(); let i = index"
                  >
                    <a class="page-link" (click)="changePage(i + 1)">{{
                      i + 1
                    }}</a>
                  </li>
                  <li
                    class="page-item"
                    [ngClass]="{ disabled: currentPage == numberOfPages }"
                  >
                    <a class="page-link" (click)="nextPage()">Next</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          total subscribed users
          <div
            style="
              background-color: #394e78;
              width: 100%;
              text-align: center;
              border-radius: 20px;
            "
            class="center"
          >
            {{ totalSubscribeUser }}
          </div>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-12">youtube embedded video</div>
        <div class="container">
          <div class="row">
            <div class="col-md-10">
              <input
                type="text"
                name=""
                id=""
                [(ngModel)]="youtubeLink"
                class="col-md-12"
                style="
                  background-color: #85d6dd;
                  border: none;
                  border-radius: 20px;
                "
              />
            </div>
            <div class="col-md-2">
              <button
                style="border: none; background-color: #394e78; color: black"
                (click)="updateYoutubeLink()"
              >
                SUBMIT
              </button>
            </div>
          </div>
        </div>
        <hr />

        <div class="col-md-12">news and updates</div>
        <form class="col-md-12 col-lg-12" [formGroup]="newsForm">
          <div
            class="col-md-12 col-lg-12"
            style="
              color: black;
              background-color: #85d6dd;
              margin-left: 15px;
              margin-right: 40px;
              padding: 10px;
              border-radius: 20px;
              overflow-y: scroll;
              height: 250px;
              width: 100%;
            "
            formArrayName="news"
          >
            <div
              *ngFor="let n of controls; let i = index"
              style="padding-left: 10px; padding-top: 5px"
              [formGroupName]="i"
            >
              <div class="row">
                <input
                  type="text"
                  name=""
                  id=""
                  style="width: 85%; background-color: #72c6ce; border: none"
                  formControlName="updates"
                />
                <button class="news-button" (click)="onEdit(i)">
                  <img
                    [src]="
                      this.newsArray.controls[i].disabled
                        ? './../../assets/fountain-pen-black copy.svg'
                        : './../../assets/floppy-disk.svg'
                    "
                    alt=""
                    width="18px"
                    style="margin: 2px"
                  />
                </button>
                <button class="news-button" (click)="onDelete(i)">
                  <img
                    src="./../../assets/recycle-bin-white.svg"
                    alt=""
                    width="18px"
                    style="margin: 2px"
                  />
                </button>
              </div>
            </div>

            <div class="row" style="margin-top: 5px">
              <div class="col-md-6"></div>
              <div class="col-md-3">
                <button
                  style="
                    border: none;
                    background-color: #394e78;
                    border-radius: 0px;
                  "
                  (click)="onAddnews()"
                >
                  Add news
                </button>
              </div>
              <div class="col-md-3">
                <button
                  style="
                    border: none;
                    background-color: #394e78;
                    border-radius: 0px;
                  "
                  (click)="onDeleteAll()"
                >
                  Delete All
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
