<form action="">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <div class="row">
          <div class="p-1 col-md-6">
            <div class="dashboard-box">PRESS RELEASE</div>
          </div>
          <div class="p-1 col-md-6">
            <div class="dashboard-box">FILINGS</div>
          </div>
          <div class="p-1 col-md-6">
            <div class="dashboard-box">OTC DISCLOSURE</div>
          </div>
          <div class="p-1 col-md-6">
            <div class="dashboard-box">CORP. ACTION</div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row mt-5">
          <div class="col-md-12">
            <div class="row center-class mt-2">
              <div class="col-md-2">PPS FILTER</div>
              <div class="col-md-10 flexContainer">
                <input type="text" class="input-box mr-1" />
                <img
                  style="align-self: center"
                  src="./../../../assets/round-error-symbol.svg"
                  height="20px"
                />
              </div>
            </div>
            <div class="row center-class mt-2">
              <div class="col-md-2">SYMBOL SEARCH</div>
              <div class="col-md-10 flexContainer">
                <input
                  type="text"
                  class="input-box mr-1"
                  placeholder="search...."
                />
                <button type="submit">SUBMIT</button>
              </div>
            </div>
            <div class="row center-class mt-2">
              <div class="col-md-2">FORM TYPE</div>
              <div class="col-md-10" style="padding-left: 0px">
                <ul class="flexbox float">
                  <li class="item float-item">8k</li>
                  <li class="item float-item">QUARTERLY</li>
                  <li class="item float-item">ANNUAL</li>
                  <li class="item float-item">REGISTRATION</li>
                  <li class="item float-item">INSIDER</li>
                  <li class="item float-item">PROXY</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="row mt-5">
          <div class="col-md-12">
            <div class="row center-class mt-2">
              <div class="col-md-6 center-class" style="text-align: center">
                STATUS:
              </div>
              <div class="col-md-6 center-class">
                <button type="button" class="input-box mr-1">LIVE</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12" style="overflow-x: auto">
        <table style="width: 100%">
          <tr>
            <th>DOCUMENT TYPE</th>
            <th>SYMBOL</th>
            <th>COMPANY NAME</th>
            <th>HEADLINE</th>
            <th></th>
            <th></th>
          </tr>
          <tr>
            <td class="td-firstchild">January</td>
            <td>$100</td>
            <td>February</td>
            <td class="td-lastchild">$50</td>
            <td class="launchBtnTD">
              <button class="launchBtn">LAUNCH</button>
            </td>
            <td><img src="../../../assets/twitter.svg" alt="" /></td>
          </tr>
          <tr >
            <td class="td-firstchild">Januarymojhitn </td>
            <td>$100</td>
            <td>February</td>
            <td class="td-lastchild">$50</td>
            <td class="launchBtnTD">
              <button class="launchBtn">LAUNCH</button>
            </td>
            <td><img src="../../../assets/twitter.svg" alt="" /></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h1>hello</h1>
      </div>
    </div>
  </div>
</form>
