li {
  background-color: #394e78;
  border-radius: 20px;
  padding: 3px;
  cursor: pointer;
}





.row {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.image-class {
  width: 80%;
  height: 80%;
  cursor: pointer;
}
