<nav class="navbar navbar-expand-lg navbar-dark text-center">
  <button 
    style="background-color: #452860;" 
    class="navbar-toggler" 
    type="button" 
    (click)="toggleNavbar()"  
    data-toggle="collapse" 
    data-target="#navbarTogglerDemo01" 
    aria-controls="navbarTogglerDemo01" 
    aria-expanded="false" 
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngClass] ="{'show': navbarOpen}"  [ngStyle]="{'margin-left' : navbarOpen ? '0px' : '30px'}">
      <ul class=" navbar-nav" (click)="onSelect()">
        <li 
        *ngIf="!isLoggedIn"
          class="nav-item"
          [ngStyle]="{'margin-right' : navbarOpen ? '0px' : '10px'}">
          <a 
            class="nav-link"
            routerLinkActive="active"
            [routerLink]="['/about']" >ABOUT</a>
        </li>
        <li 
        *ngIf="!isLoggedIn"
          class="nav-item">
          <a 
            class="nav-link " 
            routerLinkActive="active"
            [routerLink]="['/feature']">FEATURES</a>
        </li>
      </ul>
  </div>

  <div class="navbar-brand mx-auto" *ngIf="!navbarOpen">
      <img 
        [routerLink]="['/']"
        src='assets/logo.png' 
        class="image-class">    
  </div>
  
  <div class="collapse navbar-collapse" [ngClass] ="{'show': navbarOpen}"  [ngStyle]="{'margin-right' : navbarOpen ? '0px' : '30px'}">
    <ul class=" navbar-nav ml-auto" (click)="onSelect()">
      <li 
      *ngIf="!isLoggedIn"
        class="nav-item" 
        [ngStyle]="{'margin-right' : navbarOpen ? '0px' : '70px'}">
          <a 
            class="nav-link" 
            routerLinkActive="active"
            [routerLink]="['/contact']">CONTACT</a>
      </li>
      <li 
        class="nav-item" 
        [ngStyle]="{'margin-right' : navbarOpen ? '0px' : '10px'}" >
        <a 
          *ngIf="!isLoggedIn"
          class="nav-link" 
          routerLinkActive="active"
          [routerLink]="['/auth/login']">LOGIN</a>
          <a 
          *ngIf="isLoggedIn"
          class="nav-link" 
          routerLinkActive="active"
          (click)="logout()">LOG OUT</a>
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a 
          class="nav-link"
          routerLinkActive="active"
          [routerLink]="['/auth/signup']">SIGNUP</a>
      </li>
    </ul>
  </div>
</nav>
