<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<div class="container">
  <div class="row" >
    <button style="background-color: #3880a8;">LAUNCH</button>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-md-7">
      <h1>UPDATES/NEWS</h1>
      <div class="row" *ngFor="let item of newsList">
        <div class="col-md-7">{{item.news_update}}</div>
        <div class="col-md-3">{{item.updated_at.substring(0,10)}}</div>
      </div>
    </div>
    <div class="col-md-5">
      <iframe
        width="420"
        height="215"
        [src]="youtubeLink"
      >
      </iframe>
    </div>
  </div>
 
</div>
<app-footer></app-footer>