.container{
  color: white;
  
}
.background-div {
  height: 100%;
  background-image: url(../../../../assets/img-left.png),url(../../../../assets/img-right.png);
  background-size: contain,contain;
  background-repeat: no-repeat,no-repeat;
  background-position: left,right;
}
@media only screen and (max-width: 600px) {
  .background-div {
    height: 100%;
    background-image: url(../../../../assets/img-right.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
  }
}
